.heateor_sss_button_instagram span.heateor_sss_svg,a.heateor_sss_instagram span.heateor_sss_svg{background:radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%)}
.heateor_sss_horizontal_sharing .heateor_sss_svg,.heateor_sss_standard_follow_icons_container .heateor_sss_svg{
    color: #fff;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
}
.heateor_sss_horizontal_sharing .heateorSssTCBackground{
    color:#666;
}
.heateor_sss_horizontal_sharing span.heateor_sss_svg:hover,.heateor_sss_standard_follow_icons_container span.heateor_sss_svg:hover{
    border-color: transparent;
}
.heateor_sss_vertical_sharing span.heateor_sss_svg,.heateor_sss_floating_follow_icons_container span.heateor_sss_svg{
    color: #fff;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
}
.heateor_sss_vertical_sharing .heateorSssTCBackground{
    color:#666;
}
.heateor_sss_vertical_sharing span.heateor_sss_svg:hover,.heateor_sss_floating_follow_icons_container span.heateor_sss_svg:hover{
    border-color: transparent;
}
div.heateor_sss_mobile_footer{display:none;}@media screen and (max-width:1024px){div.heateor_sss_bottom_sharing .heateorSssTCBackground{background-color:white}div.heateor_sss_bottom_sharing{width:100%!important;left:0!important;}div.heateor_sss_bottom_sharing a{width:16.666666666667% !important;}div.heateor_sss_bottom_sharing .heateor_sss_svg{width: 100% !important;}div.heateor_sss_bottom_sharing div.heateorSssTotalShareCount{font-size:1em!important;line-height:31.5px!important}div.heateor_sss_bottom_sharing div.heateorSssTotalShareText{font-size:.7em!important;line-height:0px!important}div.heateor_sss_mobile_footer{display:block;height:45px;}.heateor_sss_bottom_sharing{padding:0!important;display:block!important;width:auto!important;bottom:-2px!important;top: auto!important;}.heateor_sss_bottom_sharing .heateor_sss_square_count{line-height:inherit;}.heateor_sss_bottom_sharing .heateorSssSharingArrow{display:none;}.heateor_sss_bottom_sharing .heateorSssTCBackground{margin-right:1.1em!important}}div.heateorSssSharingArrow{display:none}

.clearfy-cookie { position:fixed; left:0; right:0; bottom:0; padding:12px; color:#ffffff; background:#21293f; -webkit-box-shadow:0 0 15px rgba(0,0,0,.2); -moz-box-shadow:0 0 15px rgba(0,0,0,.2); box-shadow:0 0 15px rgba(0,0,0,.2); z-index:9999; font-size: 13px; transition: .3s; }.clearfy-cookie--left { left: 20px; bottom: 20px; right: auto; max-width: 400px; margin-right: 20px; }.clearfy-cookie--right { left: auto; bottom: 20px; right: 20px; max-width: 400px; margin-left: 20px; }.clearfy-cookie.clearfy-cookie-hide { transform: translateY(150%) translateZ(0); opacity: 0; }.clearfy-cookie-container { max-width:1170px; margin:0 auto; text-align:center; }.clearfy-cookie-accept { background:#fb8819; color:#fff; border:0; padding:.4em .8em; margin: 0 .5em; font-size: 13px; cursor: pointer; }.clearfy-cookie-accept:hover,.clearfy-cookie-accept:focus { opacity: .9; }

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #008;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.taglineBox {
    padding:32px 0px 40px 0px;
    color: #FFFFFF;
    font-size:170%;
    font-weight:600;
}

.contactTitle {
    font-size: 22pt;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
}

.infoLine {
    margin-bottom: 4px;
}

@media screen and (max-width: 766px) {
    .colorBoxesWrapper {
        padding-left: 0px;
    }
    .greenBox {
        padding-right: 0px;
    }
    .yellowBox {
        padding-left: 0px;
    }
}

@media screen and (min-width: 767px) {
    .colorBoxesWrapper {
        padding-left: 20px;
    }
    .greenBox {
        padding-right: 10px;
    }
    .yellowBox {
        padding-left: 10px;
    }
    .itmeesWrapper {
        transform: translateX(-30px)
    }
    .taglineBox {
        transform: translateX(10px)
    }
}

.serviceTitle {
    font-size: 17px;
    font-weight: 600;
    border: solid 0px red;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logoLink {
    display: block;
    width: 90px;
    height: 84px;
    border: solid 0px red;
    position: absolute;
    left: 10px;
    top: 2px;
    z-index: 11111;
}

.langLinks {
    z-index: 9999;
    position: absolute;
    left: 10px; top:10px
}

.top_bar_right_wrapper {
    padding-top: 2px;
}

.responsive-menu-toggle  {
    transform: matrix(1.3, 0, 0, 1.3, 0, 0);
}
